<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipty.www.mapper.EventMapper" >
  <resultMap id="BaseResultMap" type="com.ipty.www.pojo.Event" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="categories" property="categories" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="start" property="start" jdbcType="VARCHAR" />
    <result column="lectures" property="lectures" jdbcType="VARCHAR" />
    <result column="organizer" property="organizer" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ipty.www.pojo.Event" extends="BaseResultMap" >
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, categories, price, start, lectures, organizer, address, picture
  </sql>
  <sql id="Blob_Column_List" >
    body
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ipty.www.pojo.EventExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ipty.www.pojo.EventExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from event
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from event
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ipty.www.pojo.EventExample" >
    delete from event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ipty.www.pojo.Event" >
    insert into event (id, categories, price, 
      start, lectures, organizer, 
      address, picture, body
      )
    values (#{id,jdbcType=VARCHAR}, #{categories,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{start,jdbcType=VARCHAR}, #{lectures,jdbcType=VARCHAR}, #{organizer,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{body,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ipty.www.pojo.Event" >
    insert into event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categories != null" >
        categories,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="start != null" >
        start,
      </if>
      <if test="lectures != null" >
        lectures,
      </if>
      <if test="organizer != null" >
        organizer,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="body != null" >
        body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="categories != null" >
        #{categories,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="start != null" >
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="lectures != null" >
        #{lectures,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null" >
        #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ipty.www.pojo.EventExample" resultType="java.lang.Integer" >
    select count(*) from event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update event
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.categories != null" >
        categories = #{record.categories,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.start != null" >
        start = #{record.start,jdbcType=VARCHAR},
      </if>
      <if test="record.lectures != null" >
        lectures = #{record.lectures,jdbcType=VARCHAR},
      </if>
      <if test="record.organizer != null" >
        organizer = #{record.organizer,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null" >
        body = #{record.body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update event
    set id = #{record.id,jdbcType=VARCHAR},
      categories = #{record.categories,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      start = #{record.start,jdbcType=VARCHAR},
      lectures = #{record.lectures,jdbcType=VARCHAR},
      organizer = #{record.organizer,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      body = #{record.body,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update event
    set id = #{record.id,jdbcType=VARCHAR},
      categories = #{record.categories,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      start = #{record.start,jdbcType=VARCHAR},
      lectures = #{record.lectures,jdbcType=VARCHAR},
      organizer = #{record.organizer,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipty.www.pojo.Event" >
    update event
    <set >
      <if test="categories != null" >
        categories = #{categories,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="start != null" >
        start = #{start,jdbcType=VARCHAR},
      </if>
      <if test="lectures != null" >
        lectures = #{lectures,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null" >
        organizer = #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ipty.www.pojo.Event" >
    update event
    set categories = #{categories,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      start = #{start,jdbcType=VARCHAR},
      lectures = #{lectures,jdbcType=VARCHAR},
      organizer = #{organizer,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      body = #{body,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipty.www.pojo.Event" >
    update event
    set categories = #{categories,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      start = #{start,jdbcType=VARCHAR},
      lectures = #{lectures,jdbcType=VARCHAR},
      organizer = #{organizer,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>